<html>
        <head>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
        </head>
        <body>
                <iframe id="mapFrame" src="http://sehirharitasi.ibb.gov.tr" style="height:100%; width:100%;"></iframe>
                <script src="http://sehirharitasi.ibb.gov.tr/api/map2.js"></script>
            <script>
           var url_string = "http://localhost:8088/?sLn=28.91846180&sLt=41.01662773&fLn=28.93090725&fLt=41.00781966"; //
           var url = new URL(url_string);
           var sLt = url.searchParams.get("sLt");
           var sLn = url.searchParams.get("sLn");
           var fLt = url.searchParams.get("fLt");
           var fLn = url.searchParams.get("fLn");


              var ibbMAP = new SehirHaritasiAPI({mapFrame:"mapFrame",apiKey:"ec467a185176421b9f6f8cb0f84d41ec"}, function(){
        ibbMAP.RouteAnalysis.TUBS({
            start:
            {
                lat:  sLt,
                lon:  sLn 
            },
            finish:
            {
                lat:  fLt,
                lon:  fLn
            },
            type: "BUS,SUBWAY,WALK",
            time: "20:00",
            date: "2016-06-24"
        }); 
    });
              </script>
        </body>
    </html>